.new-year{
    background-image: url("Banner Image.png");
    width: 1320px;
    height: 600px;
    /* flex-shrink: 0; */
    margin-left: 280px;
    margin-bottom: 100px;
    

}
.pragrap-title{
        color: #fff;
        font-size: 32px;
        font-weight: 400px;
        line-height: normal;
        text-align: center;
       
        
}
.heading-one{
 color: #FFF;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 900;
font-family: open sans;
font-family: Merriweather;
/* padding-bottom: 100px; */



}
.section-one{
   padding: 130px 177px 380px 330px;
    width: 600px;
    
}
.shahariar{
    text-align: center;
}
.kabir{
    color: red;
    font-size: 49px;
}
.amar{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.Heading-one{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.div-three{
    width: 200px;
  padding:0px 500px;
}
.section-two{
    background-image: url("Vectorrr.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    margin-left: 280px;
}
.div-title{
    padding: 30px;
    width: 500px;
    
}
.heding-oyo{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 

}
.nnn{
    color: #fff;
        font-size: 19px;
        font-weight: 400px;
        line-height: normal;
        text-align: justify;
       
}
.kal{
    padding-top: 80px;
    padding-right: 80px;
}
.amee{
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
}
.awee{
    text-align: center;
  /* margin: 400px; */
    height: 182px;
    /* padding-bottom: 400px; */
    /* background-color: #e0d9d9; */
    padding: 150px;
 
}
.qwer{
    font-size: 33px;
    text-align:center;
    color: #474747;
}
span{
    color: #F00;
}
.btt-onew{
    color: white;
    background-color: #F00;
    padding: 10px;
    border: 0px;
}
.section-four{
    margin-left: 310px;
  
}
.paragrap-jhk{
    color: #F00;
}
.heading-ghh{
    font-size: 29px;
}
.rrr{
    display: flex;
    gap: 30px;
   padding-left: 300px;
   padding-top: 10px;
}
.secyoimj{
    margin-bottom: 200px;
    padding-top: 300px;
}
.div-number{
    text-align: center;
}
.her{
    font-size: 50px;
}
.zxcc{
    color: #474747;
   
}
.input{
    color: #474747;
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-size: 21px;
   

}
.button{
    background: red;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-size: 21px;
    margin-right: 10px;
}
.div-number{
    width: 600px;
    padding-left: 450px;
    
}
.web{
    background: wheat;
  margin: 350px;
    height: 616px;
   padding-right: 400px;
margin-bottom: 100px;
}
.bandas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
 
   
}
.footer{
    background: #070211;
    height: 600px;
}
.herf{
    font-size: 39px;
    color: #FFF;
    width: 600px;
    padding: 50px;
    
}
.divbb{
    font-size: 21px;
    color: #FFF;
    width: 500px;
    padding-top: 100px;
}
a{
    color: white;
    text-decoration: none;
}
.java{
    padding-left: 800px;
    
   
}
img{
    padding: 10px;
}
.kana{
    color: white;
    font-size: 21px;
    padding-left: 100px;
}
.nmk{
    color: #FFF;
    font-size: 25px;
  
}
.your{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}
#maindiv{
    display: flex;
    justify-content: space-between;
}
#ahkk{
    width: 500px;
    padding-left: 200px;
}
.mor{
    width: 500px;
    padding-left: 150px;
    
}
#one{
    color: #F00;
  
}
#teo{
    font-size: 45px;
}
.loo{
    font-size: 21px;
    margin-right: 80px;

  
}
#kal{
    padding-left: 1500px;
 
}
.rang{
    text-align: center;
    width: 600px;
    padding-left: 800px;
  
}
#hhh{
    font-size: 21px;
    color: #474747;
}
#yuu{
    font-size: 39px;
}
.del{
    color: #F00;
}
.amnajj{
    display: flex;
    width: 600px;
  
   
}
.dwevlo{
    margin-left: 300px;
  padding-bottom: 50px;
}
#image{
   border: 30px solid red;
   border-radius: 300px;
}
#kal{
    position: relative;
    bottom: 300px;
    left: 140px;
}
#maindiv{
    padding-top: 50px;
    margin-top: 50px;
}
.mklo{
  
    position: absolute;
    z-index: 1;
}
.amnajj{
   
    position: relative;
    top: 260px;
    z-index: 10;
}
.twopiv{
    padding-top: 100px;
    z-index: 1;
}